{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To lustre</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row"></div>
    <center>
        <div class="col-8">
            <br><br>
            <p align="justify">
            Life is a winding path, full of unexpected turns, steep climbs, and breathtaking views. Sometimes, the road feels endless, and the weight of uncertainty slows your steps. But even in the darkest moments, the journey continues.
Every challenge shapes you, every setback teaches you, and every small victory reminds you of your strength. Keep moving forward, even when the path ahead is unclear. The horizon is always closer than it seems.
You are capable. You are resilient. And the best chapters of your story are still waiting to be written.
</p>

        </div>
    </center>
</div>

{% endblock %}